.root {
  display: flex;
}

.item {
  margin-right: 2rem;
}

.input {
  position: absolute;
  left: -9999px;

  & + .label {
    position: relative;
    padding-left: 28px;
    line-height: 18px;
    cursor: pointer;
    display: inline-block;
    color: var(--color-font-secondary)
  }

  & + .label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-secondary-dark);
    border-radius: 50%;
    box-sizing: border-box;
  }

  &:checked + .label:before {
    content: '';
    border: 2px solid var(--color-accent);
  }

  & + .label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--color-accent);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  &:checked + .label:after {
    transform: scale(1);
    opacity: 1;
  }

  &:not(:checked) + .label:after {
    transform: scale(0);
    opacity: 0;
  }
}
