@import url('https://fonts.googleapis.com/css2?family=Noto+sans&display=swap');
@import "theme";

* {
  outline: 0;
  font-family: Noto Sans, sans-serif;
  box-sizing: border-box;
};

body {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
