:root {
  --color-primary: #407688;
  --color-primary-light: #c5d4d4;
  --color-primary-dark: #163348;
  --color-secondary: #ccd1d2;
  --color-secondary-light: #eef3f3;
  --color-secondary-dark: #aaaaaa;
  --color-accent: #ff9d0c;
  --color-font-primary: #eeeeee;
  --color-font-secondary: #222222;
  --color-font-label: #444444;
};
